<form action="http://localhost:3000/register"
      method="post"
      id="input">
    <label for="i-name">Name: </label>
    <input type="text"
           name="name"
           id="i-name"
           required>
    <label for="ii-email">Email:</label>
    <input type="email"
           name="email"
           id="ii-email"
           required>
    <label for="ii-pass">Passwort:</label>
    <input type="password"
           name="password"
           id="ii-pass">
    <button type="submit">Send!</button>
</form>